#experiment_section{
	padding-bottom:50px;
    padding-top:50px;
    margin-top: 50px;
}
#show-area-div{
	display: inline-block;
	margin-left: 10px;
}
#show-area-div .form-group, #show-area-div {
     margin-bottom: 0px; 
}
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

#middleDiv{
    margin-top: 100px;
}
#middleDiv .tab-content{
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}
#middleDiv .panel-group{
    margin-top: 20px;
}
#smy .col-md-6 img, #lhl .col-md-6 img, #wxy .col-md-12 img{
    width: 100%;
}