#search-domain {
    padding-bottom: 10px;
    padding-top: 50px;
    margin-top: 45px;
    padding-left: 13px;
}
.result-div{
	border:1px solid #cecece;
	padding-top: 2px;
}
.small-font{
	font-size: 12px;
}
#nums-result{
	color: #3071a9;
}

.close {
    position: absolute;
    top: 10px;
    right: 40px;
    color: #bbb;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #f1f1f1;
    width: 40px;
    height: 40px;
    opacity: 1.0;
}
.close:hover, .close:focus {
    color: #428bca;
    text-decoration: none;
    cursor: pointer;
    opacity: 1.0;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
#bigImgModal.modal {
	padding-left: 30%;
  padding-right: 30%;
	padding-top: 120px;
  background: rgba(0,0,0,0.7);

}
#bigImgModal .big-img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}
#compareModal {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 150px;
  background: rgba(0,0,0,0.7);
}
#bigImgModal .close{
  position: absolute;
  top: 130px;
  right: 31%;
  display: inline;
}
#compareModal .close{
  position: relative;
  top: 0px;
  right: 0px;
}

.div_img{
  font-weight: bolder;
}

#model_views .model-img:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.5);
  -ms-transform: scale(1.5);  
  -webkit-transform: scale(1.5); 
}

.next-btn{
  float: right;
}


#midview_wrapper .view-hint{
  font: 100%;
  text-align: center;
}


.attn-value{
  font-weight: bold;
}
#max_attn_text{
  color: red;
}
#min_attn_text{
  color: green;
}

#midview_wrapper img{
  width: 64px;
  height: 64px;
}