<html lang="en">
   <head>
      <title>Simple Model Viewer</title>
      <meta charset="utf-8">
{#      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
       <link href="{{ url_for('static', filename="css/bootstrap.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/font-awesome.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/search-panel.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/common.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/model-viewer.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/bootstrap-fix.css") }}" rel="stylesheet" />
      <style>.overlay {
         position: absolute;
         cursor: pointer;
         opacity: 0.9;
         z-index: 1;
         }
      </style>
   </head>
   <body>
      <div id="canvas" class="grayRadialBackground">
      </div>
      <div id="instructionsPanel" class="overlay btn btn-default btn-lg glyphicon glyphicon-question-sign">
         <p id="instructions" style="display: none;">Left click = Orbit view<br>Right click = Pan view<br>Mouse wheel = Zoom view<br>R = Reset camera</p>
      </div>
      <div id="accordion" style="top:60px; right:0; max-height:100vh; overflow:auto;" class="overlay panel-group">
         <div class="panel panel-default">
            <h4 data-toggle="collapse" data-target="#annotationsPanel" class="panel-heading panel-title collapsed">模型信息</h4>
            <div id="annotationsPanel" class="panel-body panel-collapse collapse">
               <div id="field_fullId" class="annotation"><label>fullId</label>&nbsp;<span id="anno_fullId">3dw.dd9ece07d4bc696c2bafe808edd44356</span></div>
               <div id="field_name" class="annotation"><label>name</label>&nbsp;<span id="anno_name">{{ model.name }}</span></div>
               <!-- <div id="field_description" class="annotation"><label>description</label>&nbsp;<span id="anno_description">x-wing starship from Star Wars</span></div> -->
               <div id="field_size" class="annotation"><label>大小</label>&nbsp;<span id="anno_size">{{ model.size }}</span></div>
                <div id="field_edge" class="annotation"><label>面片数</label> <span id="anno_edge">{{ model.edge_num }}</span></div>
                <div id="field_verticle" class="annotation"><label>顶点数</label> <span id="anno_verticle">{{ model.vertice_num }}</span></div>
               <div id="field_wnlemmas" class="annotation">
                  <label>类别</label>&nbsp;
                  <span id="annolist_wnlemmas">
                     <div class="badge">{{ model.class_name }}</div>
                     <!-- <div class="roundBorder searchResultLabel searchResultLabel_noedit">plane</div> -->
                  </span>
               </div>
            </div>
         </div>
         <div class="panel panel-default">
            <h4 data-toggle="collapse" data-target="#partsPanel" class="panel-heading panel-title collapsed">特征</h4>
            <div id="partsPanel" class="panel-body panel-collapse collapse">
               <canvas id="featureChart" style="height:300px !important"></canvas>
            </div>
         </div>
         <div class="panel panel-default">
            <h4 data-toggle="collapse" data-target="#images" class="panel-heading panel-title collapsed">视图</h4>
            <div id="images" class="panel-collapse collapse">
               <div class="panel-body">
                  <div id="imagesPanel" style="height:450px; width:300px;">
                     <div class="imageResults">
                        <table margin="2" style="width: 100%;">
                           <tbody>
                              <tr>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult"><img src="{{ model.view_urls[0] }}" width="100%" class="enlarge"></div>
                                 </td>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult"><img src="{{ model.view_urls[1] }}" width="100%" class="enlarge"></div>
                                 </td>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult"><img src="{{ model.view_urls[2] }}" width="100%" class="enlarge"></div>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult"><img src="{{ model.view_urls[3] }}" width="100%" class="enlarge"></div>
                                 </td>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult"><img src="{{ model.view_urls[4] }}" width="100%" class="enlarge"></div>
                                 </td>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult" ><img src="{{ model.view_urls[5] }}" width="100%" class="enlarge"></div>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult" ><img src="{{ model.view_urls[6] }}" width="100%" class="enlarge"></div>
                                 </td>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult"><img src="{{ model.view_urls[7] }}" width="100%" class="enlarge"></div>
                                 </td>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult" ><img src="{{ model.view_urls[8] }}" width="100%" class="enlarge"></div>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult" ><img src="{{ model.view_urls[9] }}" width="100%" class="enlarge"></div>
                                 </td>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult"><img src="{{ model.view_urls[10] }}" width="100%" class="enlarge"></div>
                                 </td>
                                 <td style="width: 20px; height: 20px;">
                                    <div class="searchResult" ><img src="{{ model.view_urls[11] }}" width="100%" class="enlarge"></div>
                                 </td>
                              </tr>
{#                              <tr>#}
{#                                 <td style="width: 20px; height: 20px;">#}
{#                                    <div class="searchResult" id="image.3dw.dd9ece07d4bc696c2bafe808edd44356.12"><img src="/shapenet/screenshots/models/3dw/d/d/9/e/c/e07d4bc696c2bafe808edd44356/dd9ece07d4bc696c2bafe808edd44356/dd9ece07d4bc696c2bafe808edd44356-12.png" width="100%" class="enlarge"></div>#}
{#                                 </td>#}
{#                                 <td style="width: 20px; height: 20px;">#}
{#                                    <div class="searchResult" id="image.3dw.dd9ece07d4bc696c2bafe808edd44356.13"><img src="/shapenet/screenshots/models/3dw/d/d/9/e/c/e07d4bc696c2bafe808edd44356/dd9ece07d4bc696c2bafe808edd44356/dd9ece07d4bc696c2bafe808edd44356-13.png" width="100%" class="enlarge"></div>#}
{#                                 </td>#}
{#                                 <td style="width: 20px; height: 20px;">#}
{#                                    <div class="searchResult" id="image.3dw.dd9ece07d4bc696c2bafe808edd44356.14"><img src="/shapenet/data/d/d/9/e/c/e07d4bc696c2bafe808edd44356/dd9ece07d4bc696c2bafe808edd44356/Image/dd9ece07d4bc696c2bafe808edd44356" width="100%" class="enlarge"></div>#}
{#                                 </td>#}
{#                              </tr>#}
                           </tbody>
                        </table>
                     </div>
                     <span class="large"><img></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="{{ url_for('static', filename="js/jquery-1.11.1.js") }}"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.js") }}"></script>
    <script src="{{ url_for('static', filename="js/chart.min.js") }}"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"></script>
      <script src="{{ url_for('static', filename="js/chart-ext.js") }}"></script>
      <script src="{{ url_for('static', filename="js/three.js") }}"></script>
      <script src="{{ url_for('static', filename="js/libs/inflate.min.js") }}"></script>
      <script src="{{ url_for('static', filename="js/controls/TrackballControls.js") }}"></script>
      <script src="{{ url_for('static', filename="js/loaders/OFFLoader.js") }}"></script>
      <script src="{{ url_for('static', filename="js/loaders/OBJLoader.js") }}"></script>
      <script src="{{ url_for('static', filename="js/loaders/VTKLoader.js") }}"></script>
      <script src="{{ url_for('static', filename="js/viewer.js") }}"></script>
      <script src="{{ url_for('static', filename="js/Detector.js") }}"></script>
      <script src="{{ url_for('static', filename="js/view-model.js") }}"></script>
      <audio controls="controls" style="display: none;"></audio>
   </body>
</html>